<p>
  <p>
    <strong>Title:</strong>
    <%= @mt.title %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= @mt.text %>
  </p>
  <%= link_to 'Back', articles_path %>
  <%= link_to 'New One', new_article_path %>
</p>